/* colors -------------------------------------------------------------------------------------- */
/* background/ lightest: #FFF8ED*/
/* background/ darker: #D9D9D9 */
/* primary color/ darker: #2E382E */
/* primary color/ lighter: #515E63 */


/* fonts --------------------------------------------------------------------------------------- */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

:root {
    --wrapper-border: solid 1px #2E382E;
    --decorative-font: 'Oswald', sans-serif;
    --default-font: 'Montserrat', sans-serif;
    --brand-color-dark: #2E382E;
    --brand-color-light: #515E63;
    --background-color: #FFF8ED;
    --contrast-color: #D9D9D9;
    --box-shadow-main: 10px -10px 20px rgba(46, 56, 46, 0.4);
}

body {
    margin: 55px auto 0;
    background: var(--background-color);
    /* max-width: 1500px; */
}

/* navbar ------------------------------------------------------------------------------------- */
.navbar {
    background: var(--brand-color-light);
    box-shadow: 1px 1px 20px rgba(217, 217, 217, 0.7);
    ;
}

.navbar-brand:hover {
    background: var(--brand-color-dark);
    border-radius: 5px;
    padding: 5px;
}

li.nav-item {
    color: var(--contrast-color);
    font-size: 22px;
    margin: 0 5px;
    font-family: var(--decorative-font);
    font-weight: 300;
}

.nav-link:hover {
    background: var(--contrast-color);
    color: var(--brand-color-dark);
    border-radius: 5px;
}

.nav-item.active a {
    font-weight: 400;
}

/* general = fonts, colors & sizes --------------------------------------------------------------------------------------------------------- */
h1,
h3 {
    text-align: center;
}

h1,
h2,
p {
    font-family: var(--default-font);
    color: var(--brand-color-dark);
}

h3 {
    font-family: var(--decorative-font);
    color: var(--brand-color-light);
}

h1,
h3,
p {
    margin: 0;
}

h2 {
    font-size: 40px;
}

hr {
    margin: 0;
}

.heading,
footer {

    background: var(--contrast-color);
    background-size: 100%;
    margin: 0
}

.heading {
    padding: 50px 130px;
}

.heading p {
    font-size: 18px;
    padding: 50px;
    text-align: center;
}

.section-content-wrapper {
    border: var(--wrapper-border);
    border-radius: 10px;
    padding: 10px;
}


.contact-button {
    display: flex;
    background-color: var(--brand-color-light);
    padding: 10px 35px;
    max-width: fit-content;
    margin: 30px auto;
    border: var(--wrapper-border);
    border-radius: 7px;
    font-family: var(--decorative-font);
    color: var(--contrast-color);
    font-size: 43px;
    text-decoration: none;
}

a.contact-button:hover {
    color: var(--brand-color-dark);
    border: var(--wrapper-border);
    background: var(--contrast-color);
}

a.dark-link {
    text-decoration: none;
    font-weight: 600;
    color: var(--contrast-color);
}

a.dark-link:hover {
    color: var(--brand-color-dark);
}

/* Footer -------------------------------------------------------------------- */
footer {
    padding: 20px;
}

footer p {
    display: block;
    text-align: center;
    font-size: 24px;
    color: var(--brand-color-dark);

}

a.email-address {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--brand-color-dark)
}

a.email-address:hover {
    color: var(--brand-color-dark);
    text-decoration: underline;
    font-size: 38px;
}

footer .social-links {
    display: flex;
    justify-content: space-around;
    margin: 15px 15px 0;
    font-size: 25px;
    padding: 14px 15px;
    border-radius: 50%;
    text-decoration: none;
    color: var(--brand-color-dark);
}

footer .social-links:hover {
    background-color: var(--background-color);
    text-decoration: none;
    font-size: 27px;
}

.signature p {
    text-align: center;
    padding: 20px 0 0;
    font-size: 14px;
    font-family: var(--decorative-font);
    font-weight: 300;
    color: var(--brand-color-light);
}

/* Homepage section ------------------------------------------------------------------------------ */
.intro,
.frontend-developer,
.contact-me {
    padding: 50px 130px;
}

.homepage h1 {
    font-size: 86px;
}

.homepage h3 {
    font-size: 43px;
}

.homepage p {
    font-size: 18px;
    padding: 0 20px;
    margin: 0 80px;
}

.frontend-developer {
    background-color: var(--contrast-color);
    width: 100%;
    padding: 50px 130px;

}

a .profile-picture:hover {
    transform: scale(1.06, 1.06);
}

/* Contact me section */
.contact-me h2 {
    font-size: 65px;

    text-align: center
}

.contact-me h3 {
    font-size: 35px;
}

.contact-me p {
    padding: 0;
    margin: 0;
    color: var(--brand-color-dark);
    font-size: 24px;
}

.contact-me a {
    text-decoration: none;
    font-size: 38px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--brand-color-dark);
}

.contact-me i {
    font-size: 90px;
    color: var(--brand-color-dark);
}

.linkedin-icon,
.preply-icon {
    background: var(--background-color);
    border-radius: 50%;
    box-shadow: 15px -5px 20px rgba(46, 56, 46, 0.4);
}

a.linkedin-icon:hover,
a.preply-icon:hover {
    transform: scale(1.2, 1.2);
}

.linkedin-icon {
    padding: 25px 30px;
}

.preply-icon {
    padding: 25px 22px;
}

.icon-wrapper {
    /* background: var(--contrast-color); */
    max-width: 300px;
    padding: 20px 0;
    border-radius: 5px;
}

h3.email-address {
    font-size: 36px;
    padding-top: 30px;
}

.e-address {
    display: block;
}




/* About section -------------------------------------------------------------------------------------- */
/* heading ----------------------------------------------------------------------------------------- */
.about h3,
.coding h3 {
    text-align: left;
    font-size: 36px;
}


.about h1,
.coding h1 {
    text-align: left;
    font-size: 86px;
}

.profile-picture {
    box-shadow: var(--box-shadow-main);
    border-radius: 5px;
}

a.intertext-link {
    text-decoration: none;
    color: var(--brand-color-dark);
    font-weight: 600;
}

a.intertext-link:hover {
    color: var(--brand-color-light);
}



/* hobbies ----------------------------------------------------------------------------------------- */
.hobbies {
    padding: 0 90px;
}

.hobbies p,
.projects p {
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.section-title.light {
    text-align: left;
}

.section-title.dark {
    text-align: right;
}

.hobbies .section-content-wrapper {
    padding: 15px 0;
}

.section-content-wrapper.dark {
    background: var(--brand-color-light);
}

.dark p {
    color: var(--contrast-color);
}

.item-title {
    font-family: var(--decorative-font);
    color: var(--brand-color-dark);
    font-size: 35px;
    text-align: center;
}

.item-title.dark {
    color: var(--contrast-color);
}

.image-item {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.img-title-top {
    box-shadow: -10px 10px 10px rgba(46, 56, 46, 0.4);
}

.img-title-bottom {
    box-shadow: -10px -10px 10px rgba(46, 56, 46, 0.4);
}

.img-title-bottom,
.img-title-top {
    border-radius: 5px;
}

.dark .img-title-top {
    box-shadow: -10px 10px 10px rgba(46, 56, 46, 0.7);
}

.dark .img-title-bottom {
    box-shadow: -10px -10px 10px rgba(46, 56, 46, 0.7);
}


/* coding ----------------------------------------------------------------------------------------------------------- */
.coding h1 {
    font-size: 76px;
}

.coding .heading .row {
    margin-top: 50px;
}


/* projects --------------------------------------------------------------------------------------------------------- */
.weather-app,
.landing-page {
    margin-top: 50px;
    padding: 0 90px;
}

.wrapped-img {
    max-width: 300px;
}

a.project-link {
    text-decoration: none;
    color: var(--brand-color-dark);
}

a.project-link:hover {
    color: var(--brand-color-light);
    font-size: 45px;
}

/* .project-img-link {
    max-width: 400px;

} */

.project-img-link:hover {
    transform: scale(1.06, 1.06);
}

/* @Media-query----------------------------------------------------------------------------------------------------- */
@media(max-width:420px) {

    .homepage h1,
    .about h1,
    .coding h1 {
        font-size: 60px;
    }

    .homepage h3,
    .about h3,
    .coding h3 {
        font-size: 30px;
    }

    .contact-button {
        font-size: 35px;
    }

    .hobbies {
        padding: 0;
    }

    .signature p {
        font-size: 11px;
        margin-top: 0;
    }

    a.email-address {
        font-size: 30px;

    }

    a.email-address:hover {
        color: var(--brand-color-dark);
        text-decoration: underline;
        font-size: 30px;
    }


}

@media(max-width:980px) {


    .heading {
        padding: 50px 10px 20px;
    }

    .heading p {
        padding: 0;
    }

    .frontend-developer,
    .intro {
        padding: 15px
    }

    .homepage h2 {
        font-size: 35px;
    }

    .homepage p {
        margin: 0;
        padding: 0;
    }

    .contact-me {
        padding: 30px 20px;
    }

    .contact-me h3 {
        font-size: 28px;
    }

    .contact-me a {
        font-size: 30px;
    }

    .contact-me p {
        font-size: 20px;
    }

    .section-title.light,
    .section-title.dark {
        text-align: center;
    }

    .homepage h2,
    .about h1,
    .coding h1,
    .about h3,
    .coding h3 {
        text-align: center;
    }



    .coding .heading p {
        padding: 10px 0;
    }

    .coding p {
        padding: 10px 0 0;
    }

    .projects {
        padding: 0;
    }

    .weather-app,
    .landing-page {
        padding: 0;
    }

    footer {
        padding: 10px;
    }
}