/* colors -------------------------------------------------------------------------------------- */
/* background/ lightest: #FFF8ED*/
/* background/ darker: #D9D9D9 */
/* primary color/ darker: #2E382E */
/* primary color/ lighter: #515E63 */


/* fonts --------------------------------------------------------------------------------------- */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

:root {
    --wrapper-border: solid 1px #2E382E;
    --decorative-font: 'Oswald', sans-serif;
    --default-font: 'Montserrat', sans-serif;
    --brand-color-dark: #2E382E;
    --brand-color-light: #515E63;
    --background-color: #FFF8ED;
    --contrast-color: #D9D9D9;
}

body {
    margin: 100px auto;
    background: var(--background-color);
    max-width: 1500px;
}

/* navbar ------------------------------------------------------------------------------------- */
.navbar {
    background: var(--brand-color-light);
}

.navbar-brand:hover {
    background: var(--brand-color-dark);
    border-radius: 5px;
    padding: 5px;
}

li.nav-item {
    color: var(--contrast-color);
    font-size: 22px;
    margin: 0 5px;
    font-family: var(--decorative-font);
    font-weight: 300;
}

.nav-link:hover {
    background: var(--contrast-color);
    color: var(--brand-color-dark);
    border-radius: 5px;
}

li.nav-item.active {
    font-weight: 500;
}

/* general --------------------------------------------------------------------------------------------------------- */
h1,
h3 {
    text-align: center;
}

h1,
h2,
p.description {
    font-family: var(--default-font);
    color: var(--brand-color-dark);
}

h1 {
    font-size: 86px;
    margin: 0;
}

h2 {
    font-size: 40px;
}

h3 {
    font-family: var(--decorative-font);
    font-size: 43px;
    margin: 0;
    color: var(--brand-color-light);
}

p {
    margin: 0;
}

.content-wrapper {
    margin-top: 40px;
}

.homepage .section-wrapper {
    border: var(--wrapper-border);
    border-radius: 5px;
    padding: 10px;
    min-height: 362px;
}

.section-wrapper {
    border: var(--wrapper-border);
    border-radius: 5px;
    padding: 10px;
}

.description {
    font-size: 18px;

}

.image-item {
    text-align: center;
}

.contact-button {
    display: flex;
    background-color: var(--brand-color-light);
    padding: 10px 35px;
    max-width: fit-content;
    margin: 50px auto;
    border: var(--wrapper-border);
    border-radius: 7px;
    font-family: var(--decorative-font);
    color: var(--contrast-color);
    font-size: 43px;
    text-decoration: none;
}

a.contact-button:hover {
    color: var(--brand-color-dark);
    border: var(--wrapper-border);
    background: var(--contrast-color);
}

/* About section -------------------------------------------------------------------------------- */
.about-section {
    padding: 0 90px 50px 90px;

}

.about-section h1 {
    text-align: left;
    font-size: 86px;
}

.about-section h3 {
    text-align: left;
    font-size: 36px;

}

.about-section div.row {
    margin-top: 50px;
}

.about-section p {
    font-size: 25px;
    margin: 0;

}


.hobbies-section {
    margin: 50px 35px;

}

.hobbies-section p {
    font-size: 27px;
}

.hobbies-section .dark {
    background: var(--brand-color-light);
    color: var(--contrast-color);
}

.hobbies-section h2 {
    margin: 0 40px 5px;
}

.item-title {
    font-family: var(--decorative-font);
    color: var(--brand-color-dark);
    font-size: 35px;
    text-align: center;
}

.hobby-column-wrap {
    padding: 10px;
}

.section-title-dark {
    text-align: right;
}

a.about-me {
    text-decoration: none;
    color: var(--brand-color-dark);
    font-weight: 500;
}

a.about-me:hover {
    color: var(--brand-color-light);
}

/* @Media-query----------------------------------------------------------------------------------------------------- */
@media(max-width:420px) {
    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }
}

@media(max-width:770px) {

    .section-title-light,
    .section-title-dark {
        text-align: center;
    }
}