/* colors -------------------------------------------------------------------------------------- */
/* background/ lightest: #FFF8ED*/
/* background/ darker: #D9D9D9 */
/* primary color/ darker: #2E382E */
/* primary color/ lighter: #515E63 */


/* fonts --------------------------------------------------------------------------------------- */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

:root {
    --wrapper-border: solid 1px #2E382E;
    --decorative-font: 'Oswald', sans-serif;
    --default-font: 'Montserrat', sans-serif;
    --brand-color-dark: #2E382E;
    --brand-color-light: #515E63;
    --background-color: #FFF8ED;
    --contrast-color: #D9D9D9;
}

body {
    margin: 55px auto;
    background: var(--background-color);
    /* max-width: 1500px; */
}

/* navbar ------------------------------------------------------------------------------------- */
.navbar {
    background: var(--brand-color-light);
}

.navbar-brand:hover {
    background: var(--brand-color-dark);
    border-radius: 5px;
    padding: 5px;
}

li.nav-item {
    color: var(--contrast-color);
    font-size: 22px;
    margin: 0 5px;
    font-family: var(--decorative-font);
    font-weight: 300;
}

.nav-link:hover {
    background: var(--contrast-color);
    color: var(--brand-color-dark);
    border-radius: 5px;
}

.nav-item.active a {
    font-weight: 400;
}

/* general = fonts, colors & sizes --------------------------------------------------------------------------------------------------------- */
h1,
h3 {
    text-align: center;
}

h1,
h2,
p {
    font-family: var(--default-font);
    color: var(--brand-color-dark);
}

h3 {
    font-family: var(--decorative-font);
    color: var(--brand-color-light);
}

h1,
h3,
p {
    margin: 0;
}

h2 {
    font-size: 40px;
}

hr {
    margin: 0;
}

.heading {
    padding: 50px 90px;
    background: var(--contrast-color);
    background-size: 100%;
}

.heading p {
    font-size: 18px;
    /* padding: 30px; */
}

.section-content-wrapper {
    border: var(--wrapper-border);
    border-radius: 5px;
    padding: 10px;
}


.contact-button {
    display: flex;
    background-color: var(--brand-color-light);
    padding: 10px 35px;
    max-width: fit-content;
    margin: 50px auto 0;
    border: var(--wrapper-border);
    border-radius: 7px;
    font-family: var(--decorative-font);
    color: var(--contrast-color);
    font-size: 43px;
    text-decoration: none;
}

a.contact-button:hover {
    color: var(--brand-color-dark);
    border: var(--wrapper-border);
    background: var(--contrast-color);
}

a.dark-link {
    text-decoration: none;
    font-weight: 600;
    color: var(--contrast-color);
}

a.dark-link:hover {
    color: var(--brand-color-dark);
}

/* Homepage section ------------------------------------------------------------------------------ */
.homepage .section-content-wrapper {
    min-height: 362px;
}

.homepage h1 {
    font-size: 86px;
    padding-top: 55px;
}

.homepage h3 {
    font-size: 43px;
}

.homepage p {
    font-size: 18px;
}

/* About section -------------------------------------------------------------------------------------- */
/* heading ----------------------------------------------------------------------------------------- */
.about h3,
.coding h3 {
    text-align: left;
    font-size: 36px;
}


.about h1,
.coding h1 {
    text-align: left;
    font-size: 86px;
}



a.about-me {
    text-decoration: none;
    color: var(--brand-color-dark);
    font-weight: 600;
}

a.about-me:hover {
    color: var(--brand-color-light);
}


/* hobbies ----------------------------------------------------------------------------------------- */
.hobbies p,
.projects p {
    font-size: 18px;
    padding: 20px;
    text-align: center;
}

.section-title.light {
    text-align: left;
}

.section-title.dark {
    text-align: right;
}

.hobbies .section-content-wrapper {
    padding: 15px 0;
}

.section-content-wrapper.dark {
    background: var(--brand-color-light);
}

.dark p {
    color: var(--contrast-color);
}

.item-title {
    font-family: var(--decorative-font);
    color: var(--brand-color-dark);
    font-size: 35px;
    text-align: center;
}

.item-title.dark {
    color: var(--contrast-color);
}

.image-item {
    text-align: center;
}

/* coding ----------------------------------------------------------------------------------------------------------- */
.coding h1 {
    font-size: 76px;
}

/* projects --------------------------------------------------------------------------------------------------------- */
.wrapped-img {
    max-width: 300px;
}

/* @Media-query----------------------------------------------------------------------------------------------------- */
@media(max-width:420px) {
    .homepage h1 {
        font-size: 60px;
    }

    .homepage h2 {
        font-size: 35px;
    }

    .homepage h3 {
        font-size: 30px;
    }
}

@media(max-width:980px) {
    .homepage .section-content-wrapper {
        min-height: 632px;
    }

    .section-title.light,
    .section-title.dark {
        text-align: center;
    }
}